.profile__img-overlay{
    opacity: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;  
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../../images/pen.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in;
}

.profile__img-overlay:hover{   
    opacity: 1;
}