.profile__user{
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2.5fr 1fr;
    column-gap: 30px;
}

@media(max-width: 620px){
    .profile__user{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}