.profile__edit-button{
    margin-left: 18px;
    margin-bottom: 12px;
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease-in;
}

.profile__edit-button:hover{
    opacity: 60%;
}

@media(max-width: 620px){
    .profile__edit-button{
        margin: 0;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}