.popup__input{
    outline: none;
    border: 0;
    width: 85%;
    height: 27.34px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Inter' , Arial, sans-serif;
    padding-bottom: 10px;
    margin: 0 auto 0;
}

.popup__input::placeholder {
    font-size: 14px;
    font-family: 'Inter' , Arial, sans-serif;
    line-height: 1.2;
    color: black;
}   

