.popup__close-button{
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: -42px;
    right: -42px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.popup__close-button:hover{
    opacity: 0.6;
}

@media(max-width:530px){
    .popup__close-button{
        right: 0px;
        top: -48px;
    }
}