.popup__container{
    margin: 195px auto 0;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

@media(max-width:530px){
    .popup__container{
        margin-top: 123px;
        width: 282px;
        height: 322px;
    }
}