.popup__container{
    width: 430px;
    background-color: white;
    border-radius: 3%;
    position: relative;
    z-index: 3;
}

@media(max-width:530px){
    .popup__container{
        width: 282px;
    }
}
