.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media(max-width: 1090px){
    .profile{
        flex-direction: column;
    }
}

@media(max-width: 620px){
    .profile{
        margin-bottom: 36px;
    }
}