.profile__card{
    display: flex;
    align-items: flex-end;
    align-self: center;
}

@media(max-width: 620px){
    .profile__card{
        align-items: center;
        margin-bottom: -2px;
    }    
}