.profile__add-button{
    border: 2px solid white;
    width: 150px;
    height: 50px;
    transition: opacity 0.3s ease-in;
}
.profile__add-button:hover{
    opacity: 60%;
}

@media(max-width: 620px){
    .profile__add-button{
        width: 100%;
        margin-top: 34px;
    }
}