.profile__edit-button{
    margin-left: 18px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.profile__edit-button:hover{
    opacity: 60%;
}

@media(max-width: 620px){
    .profile__edit-button{
        margin: 0;
        margin-left: 3px;
    }
}