.popup__save-button{
    margin-bottom: 36.51px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 50.15px;
    background-color: black;
    border: 0;
    outline: none;
    transition: opacity 0.3s ease-in;
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}

.popup__save-button:hover{
    opacity: 80%;
}

@media(max-width:530px){
    .popup__save-button{
        margin-bottom: 25px;
        font-size: 14px;
        height: 46px;
    }
}