.footer{
    width: 882px;
    padding-bottom: 60px;
}

@media(max-width: 930px){
    .footer{
        width: 90%;
    }
}

@media(max-width: 620px){
    .footer{
        width: 100%;
        padding-bottom: 36px;
    }
}