.header{
    width: 70%;
    box-sizing: border-box;
    padding-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(84,84,84,0.7);

}

@media(max-width: 930px){
    .header{
        width: 90%;
    }
}

@media(max-width: 620px){
    .header{
        padding-top: 28px;
        width: 100%;
    }
}