.popup__save-button-text{
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}

@media(max-width:530px){
    .popup__save-button-text{
        font-size: 14px;
    }
}